/* base.css */

/* Light Theme (default) */
:root {
    --primary-color: #3685b9;
    --secondary-color: #52ee86;
    --bg-color: #7ec5d6;
    --font-color: #fdfdfd;
    --heading-color: #f6fdfb;
}

/* Dark Theme */
[data-theme="dark"] {
    --primary-color: #fff7f7;
    --secondary-color: #070607;
    --bg-color: #34495e;
    --font-color: #ecf0f1;
    --heading-color: #3498db;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-align: center;
}

header .logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

header .small-image {
    height: 280px; 
    display: inline-block;
    margin-left: -650px;
}

header h1 {
    margin-top: 10px;
    font-size: 2em;
    color: var(--heading-color);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--font-color);
}

main {
    padding: 20px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: rgb(253, 249, 249);
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: var(--primary-color);
}
